[Unit]
Description=ChatUI
Requires=mongodb.service
After=mongodb.service

[Service]
ExecStart=/usr/bin/node -r dotenv/config build
WorkingDirectory=/opt/chatui/chat-ui
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ChatUI
Environment=HOST=0.0.0.0 PORT=80

[Install]
WantedBy=multi-user.target
